header {

    .up-header {
        background-color: #0082F9;
        height: 50px;
        .container {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            span {
                margin-left: 50px;
                color: white;
            }
        }
        
        

    }

    nav {
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;

            ul {
                list-style: none;
                display: flex;
                
                
                li {
                    margin-right: 10px;
                    cursor: pointer;
                    transition: all 0.3s;
                    text-transform: uppercase;
                    
                    .nav-link {
                        color: black;
                        padding: 0;
                    }
                    &:hover {
                        color: #0082F9;
                        box-shadow: inset 0 -3px 0 #0082F9;
                    }
                }
            }
            
        }
    }